nav a {
    float: right;
}

li {
    display: inline;
    padding: 5px;
}

.detail-page {
    margin: 40px 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.Activiteit {
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid black;
    float: left;
    width: 48%;
}

.Benodigdheden {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid black;
    float: left;
    width: 48%;
}

.Event-details {
    padding: 10px;
    border-radius: 20px;
    margin: 20px auto;
    border: 2px solid black;
    float: left;
    width: 60%;
}

.detail-row {
    width: 80%;
    margin: 0 auto;
}

.kruis {
    color: red;
}

.vinkje {
    color: #00ff06;
}

footer{
    margin-top: 40px;
}